@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@inject IndexedDbAccessor IndexedDbAccessor

<div id="header" class="bg-primary">
    <i @onclick="SubmitHandler" class="fa-solid fa-caret-left "></i>
</div>

<ul class="list-group-flush">
    @{
        void ExtractSettings(JsonTextReader reader)
        {
            while(reader.Read())
            {
                if (reader.Value != null)
                {
                    string name = (string)reader.Value;
                    <li>
                        @if (reader.TokenType == JsonToken.PropertyName)
                        {
                            <label for="@name">@name</label>
                        }
                        @if (reader.TokenType == JsonToken.Integer)
                        {
                            int val = (int)reader.Value;
                            <input type="number" for="@name" value="@val" />
                        }
                        else if (reader.TokenType == JsonToken.Float)
                        {
                            float val = (float)reader.Value;
                            <input type="number" for="@name" value="@val" />
                        }
                        else if(reader.TokenType == JsonToken.Boolean)
                        {
                            bool val = (bool)reader.Value;
                            if (val)
                            {
                                <input class="form-check-input" type="checkbox" role="switch">
                            }
                            else
                            {
                                <input class="form-check-input" type="checkbox" role="switch" checked>
                            }
                        }
                    </li>
                }
                else
                {
                    ExtractSettings(reader);
                }
            }
        }
        ExtractSettings(new JsonTextReader(new StringReader(jsonString)));
}
</ul>

@code {
    private string jsonString;
    private JObject json = new();

    private async void SubmitHandler()
    {
        string str = json.ToString();
        await IndexedDbAccessor.SetValueAsync("settings",  str);
    }
}